@use "global" as *;

.layout-contact {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.layout-contact--sub-page {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.layout-contact--site-map-page {
  margin-top: rem(88);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.layout-contact--privacy-page,
.layout-contact--terms-page {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(139);
  }
}
