@use "global" as *;

.top-contact {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.top-contact--sub-page {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.top-contact--site-map-page {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-contact--privacy-page,
.top-contact--terms-page {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(139);
  }
}