@use "global" as *;

.top-page-contact {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.top-page-contact--site-map-page {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-page-contact--privacy-page,
.top-page-contact--terms-page {
  @include mq(md) {
    margin-top: rem(139);
  }
}