@use "global" as *;

.top-page-contact {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(149);
  }
}

.top-page-contact--error-page {
  @include mq(md) {
    margin-top: rem(137);
  }
}