@use "global" as *;

.top-footer {
  margin-top: rem(104);

  @include mq(md) {
    margin-top: rem(160);
  }
}

.top-footer--contact-page {
  margin-top: rem(148);
  @include mq(md) {
    margin-top: rem(164);
  }
}

.top-footer--thanks-page {
  margin-top: rem(143);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-footer.top-footer--404-page {
  margin-top: 0;
}