@use "global" as *;

.blog-card {
  // padding: rem(16) rem(16) rem(24);  FB：コメントアウト
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 25%);
  background-color: $white;
}

// aタグはカード全体がその領域になっているようにする。カードの縁も含む
.blog-card__link { // FB：追加
  display: block;
  padding: rem(16) rem(16) rem(24);
}

.blog-card__img {
  display: block; // コード_FB：クラス名をpictureタグへ移したためblockにした
  aspect-ratio: 301 / 201;
  overflow: hidden;
}

.blog-card__img img {
  height: 100%;
  object-fit: cover;
}

.blog-card__image {
  transition: transform 0.3s;
}

.blog-card__image:hover {
  transform: scale(1.36);
}

.blog-card__body {
  margin-top: rem(17);
}

.blog-card__date {
  font-family: $second-font-family;
  font-size: rem(12);
  font-weight: $normal;
  color: $green;
}

.blog-card__title {
  font-size: rem(16);
  font-weight: $medium;
  color: $green;
  border-bottom: rem(1) solid $greenaccent;
  padding-bottom: rem(4);
}

.blog-card__text {
  margin-top: rem(15);
}