@use "global" as *;

.blog-cards {
  display: grid;
  gap: rem(40); // rem(40) rem(30) → rem(40)

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr); // FB：カードの個数が減ってもデザイン通りを維持する ⇒ auto-fit → auto-fill に修正 ※動画レビュー：タブレットはPCのレイアウトを維持する ⇒ repeat(3, 1fr) に修正し、768px以上へ
    gap: rem(50) rem(40);
  }
}

// 最終_FB：ブログ一覧はトップページのblog-cardsを再利用し、blog-cards--2colで対応
.blog-cards.blog-cards--2col {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
  }
}
