@use "global" as *;

.blog-card {
  // padding: rem(16) rem(16) rem(24);  FB：コメントアウト
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 25%);
  background-color: $white;
}

// aタグはカード全体がその領域になっているようにする。カードの縁も含む
.blog-card__link { // FB：追加
  display: block;
  padding: rem(16) rem(16) rem(24);
}

.blog-card__img {
  display: block; // コード_FB：クラス名をpictureタグへ移したためblockにした
  aspect-ratio: 301 / 201;
  overflow: hidden;
}

.blog-card__img.blog-card__img--single-page {
  aspect-ratio: 345 / 231;
  margin-top: rem(23);
  @include mq(md) {
    aspect-ratio: 700 / 468;
    margin-top: rem(39);
  }
}

.blog-card__img.blog-card__img--single-page:nth-of-type(2) {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-card__img img {
  height: 100%;
  object-fit: cover;
}

.blog-card__image {
  transition: transform 0.3s;
}

.blog-card:hover .blog-card__image {
  transform: scale(1.36);
}

.blog-card__body {
  margin-top: rem(17);
}

.blog-card__date {
  font-family: $second-font-family;
  font-size: rem(12);
  font-weight: $normal;
  color: $green;
}

.blog-card__date--single-page {
  position: relative;
  top: rem(-6);
  font-size: rem(14);
}

.blog-card__title {
  color: $green;
  border-bottom: rem(1) solid $greenaccent;
  padding-bottom: rem(4);
}

.blog-card__title.blog-card__title--single-page {
  font-size: rem(24);
  padding-bottom: rem(3);
  @include mq(md) {
    font-size: rem(32);
    line-height: 1.44;
    padding-bottom: 0;
  }
}

.blog-card__text {
  margin-top: rem(15);
}

.blog-card__text.blog-card__text--single-page {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-card__text-block {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-card__list {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-card__item {
  position: relative;
  font-size: rem(16);
  font-weight: $normal;
  color: $black;
  padding-left: rem(27);
  @include mq(md) {
    color: $green;
  }
}

.blog-card__item + .blog-card__item {
  margin-top: rem(4);
}

.blog-card__item::before {
  content: "";
  position: absolute;
  top: rem(3);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}