@use "global" as *;

.breadcrumbs {
  margin-top: rem(8);
  position: relative; // パンくずを画像の前に持ってくる 24.09.25
  z-index: 10;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  gap: rem(21);
}

.breadcrumbs li {
  position: relative;
  font-size: rem(14);
  font-weight: $normal;
  color: $green;
  text-transform: uppercase;
}

// これがないとWP化したとき「＞」が白くならない 24.09.25
.breadcrumbs__inner--white {
  color: $white;
}

.breadcrumbs__inner--white span {
  color: $white;
}

// .breadcrumbs li:not(:last-child)::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   right: rem(-12);
//   width: rem(4);
//   height: rem(8);
//   background-image: url(../images/common/breadcrumb-vector.svg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   transform: translateY(-50%);
// }