@use "global" as *;

.campaign-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/campaign-mv.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq(md) {
    background-image: url(../images/common/campaign-mv-pc.webp);
    height: rem(548);
  }
}