@use "global" as *;

.campaign-list__items {
  margin-top: rem(24);
}

.campaign-list__items.campaign-cards {
  padding-left: 0;
  padding-bottom: 0;
}

.campaign-list__btn {
  text-align: center;
  margin-top: rem(40);
}