@use "global" as *;

.filter-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16) rem(21);
  background-color: $white;
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(32);
    width: 100%;
    max-width: rem(744);
  }
}

.filter-list__item {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.571;
  color: $greenaccent;
  text-align: center;
  text-transform: uppercase;
  padding-top: rem(6);
  padding-bottom: rem(4);
  border: rem(1) solid currentColor;
}

.filter-list__item.is-active {
  color: $white;
  border-color: transparent;
  background-color: $greenaccent;
}