@use "global" as *;

.hamburger {
  position: absolute;
  top: rem(23);
  right: rem(14);
  z-index: 100;
  width: rem(33);
  height: rem(32);
  padding: 0;
  outline: revert;  // _reset.scssに outline: none; があるため、ここだけその影響を打ち消しデフォルトのフォーカスリングに戻す
}

.hamburger span {
  position: absolute;
  right: 0;
  width: inherit;
  height: rem(1);
  background-color: $white;
  transition: transform 0.3s, top 0.3s, right 0.3s, width 0.3s; // transformだけのときよりこの方が動きが自然  25.12.8
}

// .hamburger:focus {  // button要素にあるデフォルトのフォーカスを使うためコメントアウト
//   outline: rem(2) solid #391E88;
// }

.hamburger span:first-child {
  top: 15%;
}

.hamburger span:nth-child(2) {
  top: 53%;
  opacity: 1;
  transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
  top: 91%;
}

.hamburger.is-active span:first-child {
  top: 53%;
  right: rem(-4);
  width: rem(41);
  transform: rotate(36.87deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 53%;
  right: rem(-4);
  width: rem(41);
  transform: rotate(-36.87deg);
}
