@use "global" as *;

.mv {
  width: 100%;
  height: 100vh;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.mv__img,
.mv__img img {
  height: inherit;
}

.mv__img img {
  object-fit: cover;
}

.mv__header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  // opacity: 0; /* 初期状態では非表示 */
  text-align: center;
  transform: translate(-50%, -52%);
  // transition: opacity 2s ease;

  @include mq(md) {
    transform: translate(-49.7%, -50.8%);
  }
}

.mv__title {
  font-family: $third-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1.3;
  color: $white;
  letter-spacing: 0.53em;
  text-indent: 0.5em;
  text-transform: uppercase;

  @include mq(md) {
    font-size: rem(80);
    text-indent: 0.48em;
  }
}

.mv__subtitle {
  font-family: $second-font-family;
  font-size: rem(20);
  font-weight: $normal;
  color: $white;
  position: relative;
  right: rem(1);

  @include mq(md) {
    right: rem(2);
  }
}

// .mv__images {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
// }

// .mv__img-left, .mv__img-right {
//   position: absolute;
//   width: 50%;
//   height: 100%;
//   background-image: url('../images/common/mv_1.jpg');
//   background-repeat: no-repeat;
//   background-size: 200% 100%; /* 横幅を2倍にして、左右で分割 */
//   background-position: center;
//   transition: transform 2s ease; // 2秒かけてtransformをアニメーション
//   @include mq(md) {
//   background-image: url('../images/common/mv-pc_1.jpg');
//   }
// }

// .mv__img-left {
//   top: 0;
//   left: 0;
//   background-position: left center; /* 画像の左半分を表示 */
//   transform: translateY(100%); /* 初期位置を画面外下部に */
// }

// .mv__img-right {
//   top: 0;
//   right: 0;
//   background-position: right center; /* 画像の右半分を表示 */
//   transform: translateY(calc(100% + 80px));
// }

// .mv__img-left.loaded, .mv__img-right.loaded {
//   transform: translateY(0); // アニメーションで上にスライドする
// }