@use "global" as *;

.page-information {
  position: relative;
}

.page-information::before {
  content: "";
  background-image: url(../images/common/goldfish-sp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: rem(-24);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  @include mq(md) {
    background-image: url(../images/common/goldfish-pc.svg);
    top: rem(-70);
    left: calc(50% - min(48%, rem(620)));
    width: rem(301);
    height: rem(138);
  }
}

.page-information::after {
  @include mq(md) {
    content: "";
    position: absolute;
    right: calc(50% - min(48%, rem(644)));
    bottom: rem(-186);
    width: rem(309); // カンプは301×138でその通り指定してもレンダリングサイズが309×146となりピクパチェックで一致しない → 309×146で指定した
    height: rem(146);
    background-image: url(../images/common/contact-goldfish-pc.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.page-information__inner {
  position: relative;
}