@use "global" as *;

.page-404-area {
  padding-top: rem(80);
  padding-bottom: rem(44);
  background-color: $greenaccent;

  @include mq(md) {
    padding-top: rem(90);
    padding-bottom: rem(152);
  }
}
