@use "global" as *;

.page-information {
  position: relative;
}

.page-information::before {
  content: "";
  background-image: url(../images/common/goldfish-sp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: rem(-93);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  @include mq(md) {
    background-image: url(../images/common/goldfish-pc.svg);
    top: rem(-70);
    left: calc(50% - min(48%, rem(620)));
    width: rem(301);
    height: rem(138);
  }
}

.page-information__items {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}