@use "global" as *;

.page-price {
  position: relative;
}

.page-price::before {
  content: "";
  background-image: url(../images/common/goldfish-sp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: rem(-24);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  @include mq(md) {
    background-image: url(../images/common/goldfish-pc.svg);
    top: rem(-70);
    left: calc(50% - min(48%, rem(620)));
    width: rem(301);
    height: rem(138);
  }
}

.page-price__inner.inner {
  @include mq(md) {
    max-width: rem(750);
  }
}

.page-price__table {
  margin: auto;
}