@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/sub-mv-campaign.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq(md) {
    background-image: url(../images/common/sub-mv-campaign-pc.webp);
    height: rem(548);
  }
}

.sub-mv__header {
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: -0.001em;
  text-align: center;
  transform: translate(-50%, -50%);

  @include mq(md) {
    top: 59.2%;
  }
}

.sub-mv__title {
  font-family: $third-font-family;
  font-size: rem(40);
  font-weight: $normal;
  color: $white;

  @include mq(md) {
    font-size: rem(80);
  }
}