@use "global" as *;

.tab__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20);

  @include mq(md) {
    gap: rem(90);
    width: 100%;
    max-width: 100%;
  }
}

.tab__item {
  position: relative;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.44;
  color: $greenaccent;
  text-align: center;
  background-color: $green2;
  padding: rem(10) 0;
  box-shadow: rem(2) rem(2) rem(4) rgba($color: $black, $alpha: 25%);
  cursor: pointer;
  transition: background-color 0.3s;

  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    font-size: rem(24);
    padding: rem(13) rem(3) rem(13) rem(3);
  }
}

.tab__item:nth-child(2) {
  @include mq(md) {
    gap: rem(9);
    padding-top: rem(12);
    padding-bottom: rem(14);
  }
}

.tab__item:hover {
  color: $white;
  background-color: $greenaccent;
}

.tab__item::before {
  @include mq(md) {
    content: "";
    width: rem(64);
    height: rem(64);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.tab__item:first-child::before {
  @include mq(md) {
    background-image: url(../images/common/whale-icon.svg);
  }
}

.tab__item:nth-child(2)::before {
  @include mq(md) {
    width: rem(63);
    height: rem(63);
    background-image: url(../images/common/fish-icon_1.svg);
  }
}

.tab__item:nth-child(3)::before {
  @include mq(md) {
    background-image: url(../images/common/fish-icon_2.svg);
  }
}

.tab__item:first-child:hover::before {
  @include mq(md) {
    background-image: url(../images/common/whale-icon-white.svg);
  }
}

.tab__item:nth-child(2):hover::before {
  @include mq(md) {
    background-image: url(../images/common/fish-icon_1-white.svg);
  }
}

.tab__item:nth-child(3):hover::before {
  @include mq(md) {
    background-image: url(../images/common/fish-icon_2-white.svg);
  }
}

.tab__item.is-active {
  color: $white;
  background-color: $greenaccent;
}

.tab__item:first-child.is-active::before {
  @include mq(md) {
    background-image: url(../images/common/whale-icon-white.svg);
  }
}

.tab__item:nth-child(2).is-active::before {
  @include mq(md) {
    background-image: url(../images/common/fish-icon_1-white.svg);
  }
}

.tab__item:nth-child(3).is-active::before {
  @include mq(md) {
    background-image: url(../images/common/fish-icon_2-white.svg);
  }
}

.tab__item span {
  @include mq(md) {
    padding-top: rem(5);
  }
}

.tab__item:nth-child(2) span {
  @include mq(md) {
    padding-top: rem(6);
  }
}

.tab__cards { // .page-information__itemsのクラス名を変更しこちらへ移動（25.7.24）
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
  }
}
