@use "global" as *;

.text {
  font-size: rem(16);
  font-weight: $normal;
}

.text--medium {
  @extend .text;
  font-weight: $medium;
}

.text--white-pc {
  @extend .text;
  @include mq(md) {
    color: $white;
  }
}

.text--black-pc {
  @extend .text;
  @include mq(md) {
    color: $black;
  }
}

.text--black-sp {
  @extend .text;
  color: $black;

  @include mq(md) {
    color: $green;
  }
}

.text--bold {
  @extend .text;
  font-weight: $bold;
}

.text--small-sp {
  @extend .text;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(16);
  }
}

.text--medium-large {
  @extend .text;
  font-weight: $medium;
  @include mq(md) {
    font-size: rem(24);
  }
}