@use "global" as *;

.voice-card {
  // padding: rem(10) rem(16) rem(24);  FB：コメントアウト
  // ↓ SP版：1番目と2番目でbox-shadowが違う。1番目だとカードの上に影が出ない！2番目で統一
  // box-shadow: 0 rem(4) rem(4) rgba($color: $black, $alpha: 25%);
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 25%);

  @include mq(md) {
    // padding: rem(24);  FB：コメントアウト
    box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 25%);
  }
}

// aタグはカード全体がその領域になっているようにする。カードの縁も含む
.voice-card__link { // FB：追加
  display: block;
  padding: rem(10) rem(16) rem(24);
  @include mq(md) {
    padding: rem(24);
  }
}

.voice-card__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.voice-card__meta {
  width: 47.6%;

  @include mq(md) {
    width: 58.47%;
  }
}

.voice-card__label {
  @include mq(md) {
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;  CSS_ZOOM：flexアイテムのmargin-left: auto;で対応する。
    // 「年代(性別)」が無くなった場合、カテゴリーが左に寄ってしまうから
  }
}

.voice-card__age {
  font-size: rem(12);
  font-weight: $normal;
}

.voice-card__category {
  position: relative;
  top: rem(-1);
  width: fit-content;
  font-size: rem(12);
  font-weight: $normal;
  color: $greenaccent;
  border: rem(1) solid currentColor;
  padding: rem(5) rem(11) rem(5);

  @include mq(md) {
    top: 0;
    margin-left: auto;  // CSS_ZOOM：追加 ⇒ justify-content: space-between;でなくこちらで対応
    padding: rem(7) rem(15);
  }
}

.voice-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.4;
  border-bottom: rem(1) solid $greenaccent;
  margin-top: rem(4);
  padding-bottom: rem(5);

  @include mq(md) {
    position: relative;
    top: rem(1);
    font-size: rem(24);
    line-height: 1.43;
    margin-top: rem(8);
    padding-bottom: rem(4);
  }
}

.voice-card__img {
  aspect-ratio: 151 / 117;
  width: 48.24%;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 180 / 140;
    width: 38.14%;
  }
}

.voice-card__img img {  // FB：blog-card__img → voice-card__img に修正
  height: 100%;
  object-fit: cover;
}

.voice-card__text {
  margin-top: rem(15);

  @include mq(md) {
    margin-top: rem(40);
  }
}