@use "global" as *;

.voice-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/voice-mv.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq(md) {
    background-image: url(../images/common/voice-mv-pc.webp);
    height: rem(548);
  }
}